[package]
name = "calendar-backend"
version = "0.1.0"
edition = "2021"

[dependencies]
dotenv = "0.15.0"
ory-kratos-client = "1.1.0"
serde = { version = "1.0.209", features = ["derive"] }
serde_json = "1.0.127"
tokio = { version = "1.40.0", features = ["full"] }
warp = "0.3.7"
